# Ignore
build/
*.ipr
run/
server_run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
.profileconfig.json

# Allow
!.idea/icon.png